[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/dmlc/dmlc-core
[submodule "HalideIR"]
	path = HalideIR
	url = https://github.com/dmlc/HalideIR
[submodule "dlpack"]
	path = dlpack
	url = https://github.com/dmlc/dlpack
[submodule "python/tvm/contrib/debugger/tvm-curses-ui"]
	path = python/tvm/contrib/debugger/tvm-curses-ui
	url = https://github.com/siju-samuel/tvm-curses-ui.git
